:root {
    --gradient-blue: linear-gradient(105deg, #294B67 0%, #415D76 25%, #2A465C 90%, #2A465C 100%);
    --gradient-green: linear-gradient(105deg, #7A8246 0%, #B4BB75 25%, #879047 90%, #879047 100%);
    --gradient-lt-blue: linear-gradient(105deg, #5D87A4 0%, #A3BBCE 25%, #628FAB 90%, #628FAB 100%);
    --gradient-golden: linear-gradient(105deg, #8F7C47 0%, #C9B276 25%, #988245 90%, #988245 100%);
    --gradient-bronze: linear-gradient(105deg, #96704C 0%, #D2A881 90%, #D2A881 100%);
    --gradient-gray: linear-gradient(105deg, #6F6F6F 0%, #CACBCB 90%, #CACBCB 100%);
}

body {
    color: #333;
    font-family: "myriad-pro", "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
}

h1 {
    color: #5c5c5c;
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
}

h2 {
    font-size: 2.4375rem;
    font-weight: 300;
}

h3.larger-lighter-gray {
    color: #58585b;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

h3,
h4.green {
    color: #005543;
    font-size: 1.25rem;
    font-weight: normal;
    text-transform: none;
    /*margin-bottom: 1rem;*/
}

h4 {
    color: #58585b;
    font-size: .875rem;
    font-weight: 600;
    text-transform: uppercase;
}

strong {
    font-weight: 600;
}

table,
.table {
    th, td {
        color: #333;
    }
}

ul {
    list-style: square;
    li {
        margin-bottom: .25rem;
        ::marker {
            color: #58585b;
        }
    }
}

a {
    color: #333;
    &:focus,
    &:hover,
    &:active {
        text-decoration: none;
    }
}

.disclosure {
    font-size: .875rem;
}

header {

    .branding-wrapper {
        background: #414141;
        padding: 15px 0;
    }

    #logo {
        height: 26px;
        width: 220px;
        @media (min-width: 768px) {
            height: 42px;
            width: 350px;
        }
    }

    .report-title {
        color: #fff;
        font-size: 1.2rem;
        font-weight: 300;
    }

    .navbar-toggler {
        background: linear-gradient(to bottom, #555456 0, #2c292a 5%, #252122 95%);
        border: 1px solid #231f20;
        border-radius: 7px;
        color: #fff;
        margin-left: 15px;
        padding: 5px 7px;

        .navbar-toggler-icon {
            background-image: url("/content/dam/images/sustainability-esg/2025/list.png");
            background-repeat: no-repeat;
        }
    }
}

/* hero images */
body {
    &[data-nav-id='2'] {
        .hero {
            background-image: var(--gradient-blue);
        }
        @media (min-width: 992px) {
            .hero-wrapper { background-image: url('/content/dam/images/sustainability-esg/2025/bg-hero-wrapper-section-1.jpg'); }
            .hero { background-image: url('/content/dam/images/sustainability-esg/2025/bg-hero-section-1.jpg'); }
        }
    }
    &[data-nav-id='3'] {
        .hero {
            background-image: var(--gradient-green);
        }
        @media (min-width: 992px) {
            .hero-wrapper { background-image: url('/content/dam/images/sustainability-esg/2025/bg-hero-wrapper-section-2.jpg'); }
            .hero { background-image: url('/content/dam/images/sustainability-esg/2025/bg-hero-section-2.jpg'); }
        }
    }
    &[data-nav-id='4'] {
        .hero {
            background-image: var(--gradient-lt-blue);
        }
        @media (min-width: 992px) {
            .hero-wrapper { background-image: url('/content/dam/images/sustainability-esg/2025/bg-hero-wrapper-section-3.jpg'); }
            .hero { background-image: url('/content/dam/images/sustainability-esg/2025/bg-hero-section-3.jpg'); }
        }
    }
    &[data-nav-id='5'] {
        .hero {
            background-image: var(--gradient-golden);
        }
        @media (min-width: 992px) {
            .hero-wrapper { background-image: url('/content/dam/images/sustainability-esg/2025/bg-hero-wrapper-section-4.jpg'); }
            .hero { background-image: url('/content/dam/images/sustainability-esg/2025/bg-hero-section-4.jpg'); }
        }
    }
    &[data-nav-id='6'] {
        .hero {
            background-image: var(--gradient-bronze);
        }
        @media (min-width: 992px) {
            .hero-wrapper { background-image: url('/content/dam/images/sustainability-esg/2025/bg-hero-wrapper-section-5.jpg'); }
            .hero { background-image: url('/content/dam/images/sustainability-esg/2025/bg-hero-section-5.jpg'); }
        }
    }
}

*:not(.hero) > .container-md,
.hero.home > .container-md {
    @media (min-width: 1400px) {
        max-width: 1140px;
    }
}

main {

    /* global page-level gradient class */
    .bg-blue-gradient { background-image: var(--gradient-blue); }
    .bg-green-gradient { background-image: var(--gradient-green); }
    .bg-lt-blue-gradient { background-image: var(--gradient-lt-blue); }
    .bg-golden-gradient { background-image: var(--gradient-golden); }
    .bg-bronze-gradient { background-image: var(--gradient-bronze); }
    .bg-gray-gradient { background-image: var(--gradient-gray); }

    section {
        &:not(#secondary-nav) {
            padding: 60px 0;
        }

        &.bg-white {
            background-color: #fff;
        }

        &.bg-lt-gray {
            background-color: #f8f8f9;
        }

        &.bg-dark-gray {
            background-color: #65615A;
        }

        .divider {
            margin: 30px 0;
            height: 6px;
            @media (min-width: 992px) {
                margin: 50px 0;
            }
            &.large {
                color: #fff;
                height: auto;
                padding: 20px 0;

                .larger-font {
                    font-size: 1.3rem;
                    font-weight: 300;
                    line-height: 1.8rem;
                }

                .grid-wrapper {
                    display: grid;
                    grid-template-columns: 1fr;
                    gap: 30px;
                    align-items: center;
                    font-weight: 300;
                    @media (min-width: 768px) {
                        gap: 60px;
                        grid-template-columns: auto 1fr;
                    }
                    .grid-content {
                        align-items: center;
                        &:first-child {
                            border-bottom: 1px solid #9dadb9;
                            padding-bottom: 30px;
                            text-align: center;
                            @media (min-width: 768px) {
                                border-bottom: none;
                                border-right: 1px solid #9dadb9;
                                padding-bottom: 0;
                                padding-right: 60px;
                            }
                        }
                    }
                    .grid-wrapper-inner {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        text-align: center;
                    }
                    .header {
                        margin-bottom: 1rem;
                    }
                    .text-copy {
                        font-size: 1.2rem;
                        font-weight: 300;
                    }
                    .statistic {
                        font-weight: 500;
                        font-size: 1.4rem;
                    }
                }

            }
        }

        .section-introduction {
            font-size: 1.4rem;
            font-weight: 300;
            line-height: 2rem;
        }

        blockquote {
            color: #58585b;
            font-size: 1.3rem;
            font-style: italic;
            font-weight: 300;
            line-height: 2rem;
            padding: 0 1rem 0 0;
        }

        .figure-caption {
            color: #333;
            font-size: 1rem;
            font-weight: 300;
            font-style: italic;
            min-height: 1.5rem;
            &.disclosure {
                font-size: .875rem;
            }
        }
    }

    .hero-wrapper {
        @media(min-width: 992px) {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top left;
            .hero {
                clip-path: polygon(34% 0%, 100% 0%, 100% 100%, 9% 100%);
            }
        }
    }

    .hero {
        color: #fff;
        font-size: 1.5rem;
        font-weight: 300;
        background-repeat: no-repeat;
        background-size: cover;

        @media (min-width: 992px) {
            padding: 120px 0 !important;
        }

        &.home {
            color: #fff;
            background: linear-gradient(105deg, #242E49, #005543);

            .wrapper {
                display: flex;
                flex-direction: column;
                gap: 10px;
                .year {
                    display: flex;
                    flex-direction: row;
                    font-size: 8rem;
                    color: #dfdfdf;
                    line-height: 1;
                    @media (min-width: 1200px) {
                        font-size: 10rem;
                    }
                }
                .report-title {
                    display: flex;
                    flex-direction: row;
                    font-size: 1.2rem;
                    letter-spacing: 3.8px;
                    padding-bottom: 2rem;
                    color: #d7d7d7;
                    text-transform: uppercase;
                    font-weight: 400;
                    @media (min-width: 1200px) {
                        font-size: 1.4375rem;
                    }
                }
            }
        }
    }

    #page-title {
        background-color: #eee;
        padding: 30px 0;
        @media (min-width: 992px) {
            top: 72px;
        }
    }

    #secondary-nav {
        display: none;
        @media (min-width: 992px) {
            background: #fff;
            border-bottom: 1px solid #ddd;
            display: block;
            top: 170px;
        }

        .nav-link {
            border-bottom: 5px solid transparent;
            color: #1A1818;
            text-transform: uppercase;
            font-weight: 500;
            font-size: .9rem;
            padding: calc(var(--bs-nav-link-padding-y) + 5px) var(--bs-nav-link-padding-x) var(--bs-nav-link-padding-y);

            &:first-child {
                margin-left: -1rem;
            }

            &.active {
                color: #909b42;
            }

            &:focus,
            &:hover,
            &.active {
                border-bottom-color: #909b42;
            }
            &.active {
                border-bottom-color: #909b42;
            }
        }
    }

    .img-grid-layout {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        margin: 40px 0;
        @media (min-width: 992px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            div:first-of-type { grid-area: 1 / 1 / 2 / 2; }
            div:nth-of-type(2) { grid-area: 2 / 1 / 3 / 2; }
            div:last-of-type { grid-area: 1 / 2 / 3 / 3; }
        }
        figure { margin: 0; }
    }

    #homepage-nav {

        nav {
            :nth-child(1) {
                .card {
                    background-image: url('/content/dam/images/sustainability-esg/2025/bg-nav-section-1.jpg');
                }
            }
            :nth-child(2) {
                .card {
                    background-image: url('/content/dam/images/sustainability-esg/2025/bg-nav-section-2.jpg');
                }
            }
            :nth-child(3) {
                .card {
                    background-image: url('/content/dam/images/sustainability-esg/2025/bg-nav-section-3.jpg');
                }
            }
            :nth-child(4) {
                .card {
                    background-image: url('/content/dam/images/sustainability-esg/2025/bg-nav-section-4.jpg');
                }
            }
            :nth-child(5) {
                .card {
                    background-image: url('/content/dam/images/sustainability-esg/2025/bg-nav-section-5.jpg');
                }
            }
        }

        .col {
            a {
                color: #fff;
                text-decoration: none;
                font-size: 1.6rem;
                font-weight: 300;
                line-height: 1.8rem;

                .card {
                    border: 0;
                    border-radius: 0;
                    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
                    background-repeat: no-repeat;
                    background-size: cover;

                    .card-body {
                        color: #fff;
                        padding: 60% 30px 30px;
                        transition: .2s clip-path ease-in-out;
                    }
                }

                &:focus,
                &:hover,
                &:active {
                    text-decoration: underline;
                }
            }

            &:not(:last-child) {
                a {
                    .card {
                        .card-body {
                            clip-path: polygon(0 50%, 100% 80%, 100% 100%, 0 100%);
                        }
                    }
                    &:focus,
                    &:hover,
                    &:active {
                        text-decoration: underline;

                        .card-body {
                            clip-path: polygon(0 47%, 100% 77%, 100% 100%, 0 100%);
                        }
                    }
                }
            }
        }
        .bg-blue-gradient { background-image: linear-gradient(105deg, #294B67 0%, #415D76 50%, #2A465C 90%, #2A465C 100%); }
        .bg-green-gradient { background-image: linear-gradient(105deg, #7A8246 0%, #B4BB75 50%, #879047 90%, #879047 100%); }
        .bg-lt-blue-gradient { background-image: linear-gradient(105deg, #5D87A4 0%, #A3BBCE 50%, #628FAB 90%, #628FAB 100%); }
        .bg-golden-gradient { background-image: linear-gradient(105deg, #8F7C47 0%, #C9B276 50%, #988245 90%, #988245 100%); }
        .bg-bronze-gradient { background-image: linear-gradient(105deg, #96704C 0%, #D2A881 90%, #D2A881 100%); }
        .bg-gray-gradient { background-image: linear-gradient(105deg, #6F6F6F 0%, #CACBCB 90%, #CACBCB 100%); }
    }

    #bottom-navigation {
        color: #ccc;
        ul {
            list-style: none;
            margin: 0;
            padding:0;

            a {
                color: #fff;
                text-transform: uppercase;
                text-decoration: none;
                &:focus,
                &:hover,
                &:active {
                    text-decoration: underline;
                }
            }
        }
    }

    table {
        &.blue-layout {

            td, th {
                padding: .5rem;
                text-align: center;
                &:first-child {
                    text-align: left;
                }
            }

            th,
            tr.blue td {
                background-color: #004d70;
                color: #fff;
                font-weight: 500;
            }

        }
    }

    #sasb-table {
        border: 1px solid #707070;
        th,
        td {
            border: 1px solid #707070;
            padding: .5rem;
        }
        th {
            font-size: 1.3rem;
            font-style: italic;
            font-weight: 300;
        }
        td > table {
            border: none;
            td,
            th {
                border: none;
                padding: .2rem;
                &:nth-child(2),
                &:nth-child(3) {
                    text-align: right;
                }
            }
            th {
                color: #005543;
                font-size: 1.25rem;
                font-weight: normal;
                text-transform: none;
            }
        }
    }

    #additional-resources {
        ul {
            list-style: none;
            margin: 0;
            padding:0;
            }
    }
}

ul {
    &.grid-layout {
        display: grid;
        grid-template-rows: 1fr;
        list-style: none;
        margin-bottom: 1rem;
        padding: 0;
        gap: .25rem;
        li {
            display: grid;
            grid-template-columns: auto 1fr;
            > :first-child {
                min-width: 3rem;
                @media (min-width: 992px) {
                    min-width: 4rem;
                }
            }
        }

        &.with-icons {
            margin: 0;
            gap: 0;
            li {
                > :first-child {
                    margin: 0 1rem 1rem 0;
                    @media (min-width: 992px) {
                        margin: 0 1rem 1rem;
                    }
                }
            }
        }
    }
}

.fade-in {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
    &.first {
        transition: opacity .75s ease-in-out;
    }
    &.second {
        transition: opacity 1.2s ease-in-out;
    }
    &.third {
        transition: opacity 1.6s ease-in-out;
    }
    &.viewing {
        opacity: 1;
    }
    @media print {
        opacity: 1 !important;
    }
}

#offcanvas-navigation {
    width: 100%;

    .offcanvas-header {
        background: #414141;
        height: 93px;
        @media (min-width: 768px) {
            height: 108px;
        }
        @media (min-width: 992px) {
            height: 72px;
        }
    }

    .offcanvas-body {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0;
        @media (min-width: 992px) {
            grid-template-columns: calc(50% - 15px) calc(50% - 15px);
            gap: 30px;
        }
    }

    #nav-images {
        position: relative;
        opacity: 0;
        transition: opacity 0.4s cubic-bezier(0.1, 0.05, 0, 1);
        transition-delay: 0.2s;

        span {
            background-repeat: no-repeat;
            background-size: cover;
            transition: opacity 0.4s cubic-bezier(0.1, 0.05, 0, 1);
            transition-delay: 0.2s;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            &.active {
                opacity: 1;
                transition-delay: 0s;
            }

            &[data-nav-id='0'] {
                background-image: url('/content/dam/images/sustainability-esg/2025/bg-nav-section-0.jpg');
            }

            &[data-nav-id='1'] {
                background-image: url('/content/dam/images/sustainability-esg/2025/bg-nav-section-1.jpg');
            }

            &[data-nav-id='2'] {
                background-image: url('/content/dam/images/sustainability-esg/2025/bg-nav-section-1.jpg');
            }

            &[data-nav-id='3'] {
                background-image: url('/content/dam/images/sustainability-esg/2025/bg-nav-section-2.jpg');
            }

            &[data-nav-id='4'] {
                background-image: url('/content/dam/images/sustainability-esg/2025/bg-nav-section-3.jpg');
            }

            &[data-nav-id='5'] {
                background-image: url('/content/dam/images/sustainability-esg/2025/bg-nav-section-4.jpg');
            }

            &[data-nav-id='6'] {
                background-image: url('/content/dam/images/sustainability-esg/2025/bg-nav-section-5.jpg');
            }

            &[data-nav-id='7'] {
                background-image: url('/content/dam/images/sustainability-esg/2025/bg-nav-section-0.jpg');
            }
        }

    }

    &.show {
        #nav-images {
            opacity: 1;
            transform: none;
            transition-delay: .25s;
        }
    }

    #main-nav {
        display: flex;
        flex-direction: column;
        padding: 1rem;

        .header {
            display: flex;
            flex-direction: row;
            justify-content: end;
        }

        .accordion {
            list-style: none;
            margin: 0;
            padding: 0;

            .accordion-item {
                background: transparent;
                border: 0;

                .accordion-header {
                    .accordion-button {
                        background: transparent;
                        color: #333;
                        font-size: 1.4rem;
                        font-weight: 300;

                        &::before {
                            flex-shrink: 0;
                            width: 13px;
                            height: 0;
                            margin-right: 1rem;
                            content: "";
                            background: none;
                            border-top: 1px solid #333;
                            transition: var(--bs-accordion-btn-icon-transition);
                        }
                        &::after {
                            position: absolute;
                            width: 0;
                            height: 13px;
                            margin-left: 6px;
                            content: "";
                            background: none;
                            border-right: 1px solid #333;
                            transition: var(--bs-accordion-btn-icon-transition);
                        }
                        &:not(.collapsed) {
                            background-color: transparent;
                            box-shadow: none;
                            &::before {
                                transform: var(--bs-accordion-btn-icon-transform);
                            }
                            &::after {
                                transform: rotate(90deg);
                            }
                        }

                        &:focus,
                        &:hover,
                        &:active {
                            text-decoration: underline;
                        }
                    }
                    a {
                        color: #333;
                        font-size: 1.4rem;
                        font-weight: 300;
                        position: relative;
                        display: flex;
                        align-items: center;
                        width: 100%;
                        padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x) var(--bs-accordion-btn-padding-y) calc(13px + 1rem + var(--bs-accordion-btn-padding-x));
                        text-decoration: none;

                        &:focus,
                        &:hover,
                        &:active {
                            text-decoration: underline;
                        }
                    }
                }

                .accordion-body {
                    padding-bottom: 0;
                    padding-top: 0;

                    ul {
                        list-style: none;
                        text-transform: uppercase;

                        li {
                            padding-bottom: 3px;
                            padding-top: 3px;

                            a {
                                color: #333;
                                text-decoration: none;
                                font-weight: 500;
                                font-size: .9rem;

                                &:focus,
                                &:hover,
                                &:active {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }

            > li:not(.accordion-item) {
                a {
                    color: #333;
                    font-size: 1.4rem;
                    font-weight: 300;
                    position: relative;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x) var(--bs-accordion-btn-padding-y) calc(13px + 1rem + var(--bs-accordion-btn-padding-x));
                    text-decoration: none;

                    &:focus,
                    &:hover,
                    &:active {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

#our-people-graphic {
    display: grid;
    color: #fff;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    font-weight: 300;
    margin-bottom: 1.5rem;

    .grid-content {
        background-color: #545659;
        height: 100%;
        padding: 20px 30px;
        .header {
            margin-bottom: .2rem;
        }
        .statistic {
            font-size: 1.4rem;
        }
    }
}

.bs-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    color: #333;
    &.color-tan {
        color: #dedac7;
    }
}

img {
    &.business-model-graphic {
        padding: 3rem 0;
        @media (min-width: 1200px) {
            padding: 3rem;
        }
        @media (min-width: 1400px) {
            padding: 3rem 8rem;
        }
    }
    &.years-at-artisan-partners-graphic {
        padding: 3rem 0;
        @media (min-width: 992px) {
            padding: 3rem 3rem 3rem 0;
        }
        @media (min-width: 1200px) {
            padding: 3rem 5rem 3rem 0;
        }
    }
    &.gender-and-ethnicity-graphic {
        padding: 3rem 34% 3rem 0;
        @media (min-width: 992px) {
            padding: 3rem 3.5rem 3rem 0;
        }
        @media (min-width: 1200px) {
            padding: 3rem 5rem 3rem 0;
        }
    }
}

footer {
    background: url("/content/dam/images/static/watermark.jpg") no-repeat right bottom;
    padding: 30px 0;

    ul {
        list-style: none;
        font-size: 1rem;
        margin: 0 0 1rem 0;
        padding: 0;
        li {
            display: inline-block;
            list-style: none;
            &:not(:last-child)::after {
                content: "\00A0\00A0\00A0|\00A0\00A0\00A0";
            }
        }
    }

    a {
        color: #333;
        text-decoration: underline;

        &:focus,
        &:hover,
        &:active {
            text-decoration: none;
        }
    }

    @media(min-width: 992px) {
        padding: 60px 0;
    }
}

/* sm */
@media(min-width: 576px) {}
/* md */
@media(min-width: 768px) {}
/* lg */
@media(min-width: 992px) {}
/* xl */
@media(min-width: 1200px) {}
/* xxl */
@media(min-width: 1400px) {}